.footer {
  background-color: black;
  color: white;
  padding: 50px 150px 50px 150px;
  text-align: center;
  position: relative;
}

.rocket-container-left {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.rocket {
  height: 200px;
  object-fit: contain;
  z-index: 2;
  padding: 10px;
}

.astronauts-scroll-wrapper {
  max-height: 140px;
  overflow-y: auto;
  overflow-x: visible;
  position: relative;
  padding-top: 1.5rem; /* space for tooltip to not get clipped */
}

.astronauts {
   display: flex;
  justify-content: center;   
  align-items: center;       
  flex-wrap: wrap;                    
}

.astronaut-wrapper {
  position: relative;
  display: inline-block;

}

.astronaut {
  height: 50px;
  object-fit: contain;
  cursor: default;
}

.tooltip {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 4px 8px;
  position: absolute;
  bottom: 110%; /* position above the astronaut */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 0.8rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 10;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.astronaut-wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.astronauts-block {
  flex: 1;
  min-width: 0;
}

.footer-upper-row {
  width: 80%;        /* make it narrower */
  margin: 10px auto 40px auto; /* top right bottom left */
  color: white;
  text-align: center;
  position: relative;
  z-index: 4;
}

.footer-blurb {
  font-size: 1.7rem;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7), 3px 2px 8px rgba(255, 255, 0, 0.707); 
}

.footer-upper-row ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  gap: 40px;
  font-size: 1.2rem;
  font-weight: 500;
}

.footer-upper-row ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-upper-row ul li a:hover {
  color: #5FBFF9;
  text-decoration: none;
}

.footer-bottom-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

/* Responsive Styles */
/* Smaller screens: ipad */
@media (max-width: 1200px) {
  .footer {
    padding: 40px 60px 100px 60px; /* reduce padding */
  }

  .footer-bottom-row {
    flex-direction: column;
  }

  .rocket-container-left {
    margin-bottom: 1rem;
  }

  .footer-blurb {
    font-size: 1.4rem;
  }
}

/* Small screens: phones */
@media (max-width: 600px) {
  .footer {
    padding: 30px 30px 80px 30px;
  }

  .footer-blurb {
    font-size: 1.1rem;
    padding: 0 10px;
  }
}