.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: #0C142A;
    color: white;
    border-bottom: 4px solid #5FBFF9;
  }

  .navbar-logo img {
  height: 80px; /* or your preferred size */
  width: auto;
  vertical-align: middle;
  padding: 0;
  margin-right: 0.5rem; /* spacing between logo and text */
}
  .navbar-brand {
    font-size: 1.75rem;
    font-weight: bold;
    padding:0;
    margin:0;
  }

  .home-link a{
    margin-left: 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .home-link a:hover {
    color: #5FBFF9;
  }
  .navbar-links a {
    margin-left: 2rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #5FBFF9;
  }
  
  .contact-button {
    margin-left: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: #5FBFF9;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-button:hover {
    background-color: #4aa8db;
  }

  .navbar-logo-text {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.75rem;
  margin-left: 1.5rem;
  transition: color 0.3s ease;
}

.navbar-logo-text:hover {
  color: #5FBFF9;
}

/* Hamburger styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

/* Mobile view adjustments */
@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navbar-links {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #0C142A;
    flex-direction: column;
    padding: 1rem 2rem;
    border-radius: 0;
    z-index: 1000;
    width: 100%;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links a,
  .contact-button {
    margin: 0.5rem 0;
    font-size: 1rem;
    margin-left: 0; /* reset from desktop view */
  }
}
